
/*
    .row div {
        box-sizing: border-box;
        border: 1px solid grey;
        padding: 10px;
    }

    .container {
        border: thin solid red;
    }   */



h1 {
	font-size: 80px;
	color: blue;
	text-align: center;

}